################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MealPlanner/v15
/.vs/MealPlanner/DesignTimeBuild
/.vs/config
/bin/Debug
/MealPlanner.Data/bin/Debug
/MealPlanner.Data/obj
/MealPlanner.Tests/bin/Debug/netcoreapp2.1
/MealPlanner.Tests/obj
/obj
/MealPlanner.Data/bin/Release/netcoreapp2.1
/MealPlanner.Data/bin/Release/netcoreapp2.2
/MealPlanner.EndToEndTests/node_modules
