<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Maaltijd planner</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="manifest" href="~/dist/manifest.json">

    <meta name="theme-color" content="#88B337">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="apple-touch-startup-image" href="launch.png">

</head> 
<body>
    <noscript>
        <h1>Bummer.. geen javascript.. geen applicatie</h1>
        <p>Javascript is al sinds jaar en dag een onderdeel van veilige en productieve apps. Gebruik het!</p>
    </noscript>
    @RenderBody()

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
