
/* site wide styling */
.tagCollection {
    list-style-type: none;
    padding: 0px;
    margin-top: 8px;
}

    .tagCollection li {
        display: inline-block;
        border-radius: .25rem;
        background-color: #FDB62F;
        padding: 0.25% 2.5%;
        margin: 0.25% 0.5%;
        font-variant: small-caps;
        cursor: pointer;
        color: #fff;
    }

        .tagCollection li a {
            border: 0px solid black;
            color: #333;
            padding: 1px 4px;
            position: inline-block;
        }

.ingredientsCollection span {
    background-color: #FDB62F;
    padding: .5% 0.5%;
    margin: 0.25% 0.5%;
    border-radius: 0.25rem;
    color: black;
    display: inline-block;
    max-width: 20%;
    position: relative;
}


    .ingredientsCollection span input {
        border: 0px solid black;
        background-color: #FCE2B3;
        width: 30%;
        border-radius: .25rem;
        padding-left: 4px;
        color: black;
    }


    .ingredientsCollection span a {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 0px;
        right: 5px;
    }

@media only screen and (max-width: 680px) {
    .ingredientsCollection span {
        max-width: 45%;
    }

        .ingredientsCollection span input {
            width: 40%;
        }
}

.form textarea {
    width: 100%;
}

a {
    color: #88B337;
}

.btn-primary {
    background-color: #88B337;
    border: 0px;
}

    .btn-primary:hover {
        background: #638724;
    }

    .btn-primary:active, .btn-primary:focus {
        background: #a0d83f;
    }

.modal {
    display: block;
}

.btn-info {
    background: #E5E5E5;
    color: #ffffff;
    border-color: #DEDEDE;
    color: #6c757d;
}

    .btn-info:hover, .btn-info:focus, .btn-infoAlt:active, .btn-infoAlt.active, .open > .dropdown-toggle.btn-infoAlt {
        background: #DEDEDE;
        color: #ffffff;
        border-color: white;
    }

.btn-infoAlt:active, .btn-infoAlt.active {
    background: #DEDEDE;
    box-shadow: none;
}
