
/* site wide styling */
.tagCollection,
.ingredientsCollection {
    list-style-type: none;
  }
    .tagCollection li,
    .ingredientsCollection li {
        display: inline-block;
        border-radius: .25rem;
        background-color: #81c8d4;
        padding: 0.25% 2.5%;
        margin: 0.25% 0.5%;
        font-variant: small-caps;
        cursor: pointer;
        color: #fff;
    }
        .tagCollection li a,
        .ingredientsCollection li a {
            border: 0px solid black; 
            color: #333;
            padding: 1px 4px;
            position: inline-block;
        }
  .form textarea 
  {
      width: 100%;
  }
.btn-primary {
    background-color: #2595a0;
    border: 0px ;
}
.modal {
    display: block;
}
